

/*------------------------------------------------------------------------------------------------------------

© :13 Design Creative Lab — 2019   
From : Paris, London, Orléans.
https://2points13.fr

Designed by https://zigmoon.com

-------------------------------------------------------------------------------------------------------------*




     d888   .d8888b.                                                                     
    d8888  d88P  Y88b                                                                    
      888       .d88P                                                                    
d8b   888      8888"                                                                     
Y8P   888       "Y8b.                                                                    
      888  888    888                                                                    
d8b   888  Y88b  d88P                                                                    
Y8P 8888888 "Y8888P"                                                                     
                                                                                         
                                                                                         
                                                                                         
8888888888 8888888b.  8888888888 888b    888  .d8888b.  888    888                       
888        888   Y88b 888        8888b   888 d88P  Y88b 888    888                       
888        888    888 888        88888b  888 888    888 888    888                       
8888888    888   d88P 8888888    888Y88b 888 888        8888888888                       
888        8888888P"  888        888 Y88b888 888        888    888                       
888        888 T88b   888        888  Y88888 888    888 888    888                       
888        888  T88b  888        888   Y8888 Y88b  d88P 888    888                       
888        888   T88b 8888888888 888    Y888  "Y8888P"  888    888                       
                                                                                         
                                                                                         
                                                                                         
8888888b.  8888888888 .d8888b. 8888888 .d8888b.  888b    888                             
888  "Y88b 888       d88P  Y88b  888  d88P  Y88b 8888b   888                             
888    888 888       Y88b.       888  888    888 88888b  888                             
888    888 8888888    "Y888b.    888  888        888Y88b 888                             
888    888 888           "Y88b.  888  888  88888 888 Y88b888                             
888    888 888             "888  888  888    888 888  Y88888                             
888  .d88P 888       Y88b  d88P  888  Y88b  d88P 888   Y8888                             
8888888P"  8888888888 "Y8888P" 8888888 "Y8888P88 888    Y888                             
                                                                                         
                                                                                         
                                                                                         
 .d8888b.  8888888b.  8888888888        d8888 88888888888 8888888 888     888 8888888888 
d88P  Y88b 888   Y88b 888              d88888     888       888   888     888 888        
888    888 888    888 888             d88P888     888       888   888     888 888        
888        888   d88P 8888888        d88P 888     888       888   Y88b   d88P 8888888    
888        8888888P"  888           d88P  888     888       888    Y88b d88P  888        
888    888 888 T88b   888          d88P   888     888       888     Y88o88P   888        
Y88b  d88P 888  T88b  888         d8888888888     888       888      Y888P    888        
 "Y8888P"  888   T88b 8888888888 d88P     888     888     8888888     Y8P     8888888888 
                                                                                         
                                                                                         
                                                                                         
888             d8888 888888b.                                                           
888            d88888 888  "88b                                                          
888           d88P888 888  .88P                                                          
888          d88P 888 8888888K.                                                          
888         d88P  888 888  "Y88b                                                         
888        d88P   888 888    888                                                         
888       d8888888888 888   d88P                                                         
88888888 d88P     888 8888888P"                                                          
                                                                                         
                                                                                         
                                                                                                          
                                                                                                          
-------------------------------------------------------------------------------------------------------------*



                                              
         +y-           :dd:           -y+         
         -MMd+`      -hMMMMh.       /hMM.         
          NMMMNs.  .yMMMMMMMMs`  `omMMMN          
          yMMMMMMhsMMMMMMMMMMMNoyMMMMMMy          
          /MMMMMMMMMMMMMMMMMMMMMMMMMMMM/          
          `MMMMMMMMMMMMMMMMMMMMMMMMMMMM`          
           dMMMMMMMMMMMMMMMMMMMMMMMMMMd           
           oMMMMMMMMMMMMMMMMMMMMMMMMMMo           
           -MMMMMMMMMMMMMMMMMMMMMMMMMM-           
            ``````````````````````````       



                       `+/                                                                           
                  :` /mMN``/yo                                                                      
                 yMsyMMMMdmMMs.:+:                                                                  
              ss.MMNMMMMMMMMMNNMm-                             `-:::-.                              
              hMdMMMMMMMMMMMMMMMo+-                         -odNNMMMNNmhs/.                         
             .NMMMMMMMMMMMMMMMMMMMs                       :hNMMMMMMMMMMMMMNdo-                      
            `mMMMMMMMMMMMMMhdmmdy/`                     .yNMMMMMMMMMMMMMMMMMMNd/`                   
            `NMMMMMMMMMMMMMd+.``                       /mMMMMMMMMMMMMMMMMMMMMMMMd/                  
             -mMMMMMMMMMMMMMMmo-                      +NMMMMMMMMMMMMMMMMMMMMMMMMMNh.                
            `smNMMMMMMMMMMMMMMMN+                    /NMMMMMMMMMMMMMMMMMMMMMMMMMMMMm:               
            `...yMMMMMMMMMMMMMMMM/                  -NMMMMMMMMMMMMMMMMMMMM+sdMMMMMMMN/              
              `sNMMMMMMMMMMMMMMMMm                 `dMMMMMMMMMMMMMMMMMMMMMd:`+NMMMMMMN:             
              yMMMMMMMMMMMMMMMMMMM:                +MMMMMMMMMMMMMMMMMMMMMMMNo`-mMMMMMMm.            
             `NMMMMMMMMMMMMMMMMMMMo               `mMMMMMMMMMMMMMMMMMMMMMMMMMy`:MMMdMMMy            
              dMMMMMMMMMMMMMMMMMMMm               +MMMMMMMMMMMMMMMMMMMMMMMMMMMs yMM.mMMN            
              .smMMMMMMMMMMMMMMMMMM:             -NMMMMMMMMMMMMMMMMMMMMMMMMMMMM:-My +MMM`           
                /MMMMMMMMMMMMMMMMMMd`           .mMMMMMMMMMMMMMMMMMMMMMMMyMMMyMs y` -MMh            
               .NMMMMMMMMMMMMMMMMMMM+          -mMMMMMMMMMMMMMMMMMMMMMMMModMM/My `  -MM:            
              `dMMMMMMMMMMMMMMMMMMMMN/        :mMMMMMMMMMMMMMMMMMMMMMMMMMhsMd`N/    /No             
              +MMMMMMMMMMMMMMMMMMMMMMNo.    `oNMMMMMMMMMMMMMMMMMMMMMMMMMMy/N- :     s/              
              mMMMMMMMMMMMMMMMMMMMMMMMMNs-./dMMMMMMMMMMMMMMMMMMMMMMMMMMMN-:-        `               
             .MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-                           
             -MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs                           
             .MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.                          
              mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM+                          
              sMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNdM/                          
              `NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMymMm`s`                          
               /MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-+Ms                             
                /NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMhyoN`-m.                             
                 -dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd`  - `.                              
                  `+mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN.                                     
                    `+dMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN:                                      
                      `:smMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM/                                       
                         `:sdMMMMMMMMMMMMMMMMMMMMMMMMMMMMMN/                                        
                            `-+dMMMMMMMMMMMMMMMMMMMMMMMmho.                                         
                               /MMMMMMMMMMMMMMMMMMMMMo-.                                            
                               `yMMMMMMMMMMMMMMMMMMMM+                                              
                                `sMMMMMMMMMshNMMMMMMMm-                                             
                                  /mMMMMMMN` -+ydNMMMMNy:                                           
                                   .omMMMMd     `.-/odMMm                                           
                                     .oMMMN`         .mMN`                                          
                                      `NMNo           -MM+                                          
                                      /MM+             yMd                                          
                                     `mMm              -MMo.+ys`                                    
                                     oMM+               mMMNdoh.                                    
                                    .NMd                hMMd`                                       
                                    sMN.             `/yMMMo                                        
                             `..```+MMm..-.        `oNMMNmMs                                        
                           `yNMMNmNMMNNNNNN`      .dMMNdoNN:                                        
                           ::omhddy+:.`.``+       ..yh..No.                                         
                             --                      `  /`                                          




-------------------------------------------------------------------------------------------------------------*

© :13 Design Creative Lab — 2019   
From : Paris, London, Orléans.
https://2points13.fr

Designed by https://zigmoon.com

-------------------------------------------------------------------------------------------------------------*/ 



/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
